<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.galdino.appbemestaresaude" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Telas.TelaLogin"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Telas.TelaInicial"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Telas.TelaRoteiro"
            android:label="@string/title_activity_tela_roteiro"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Telas.TelaCliente"
            android:label="@string/title_activity_tela_cliente"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Telas.TelaCheckIn"
            android:label="@string/title_activity_tela_check_in"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Telas.TelaInicialCheckIn"
            android:label="@string/title_activity_tela_inicial_check_in"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Telas.TelaListaClientes"
            android:label="@string/title_activity_tela_lista_clientes"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Telas.TelaHistorico"
            android:label="@string/title_activity_tela_historico"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Telas.TelaDetalhesVenda"
            android:label="@string/title_activity_tela_detalhes_venda"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Telas.TelaPontos"
            android:label="@string/title_activity_tela_pontos"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Telas.TelaCheckOut"
            android:label="@string/title_activity_tela_check_out"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
